@tailwind base;
@tailwind components;
@tailwind utilities;
.markdown ul li {
    list-style-type: disc;
}

img.w-full.rounded.rounded-b-none.h-48.object-cover {
    height: 150px;
    width: 150px;
}

img.w-full.h-48.object-cover {
    height: 150px;
    width: 150px;
}